<div class="large-12 columns">
	<h4>The Li Trigram Rooster System</h4>
		<p class="text-justify">
			<img src="assets/img/bagua.jpg" class="textWrap">
			The Li or Fire Trigram is represented by the Rooster 雞 (jī). The fighting system of the Rooster mimics the quick darting and dodging movements of a rooster. It will dodge its head and body down and around you at the last second using drastic height changes and long low steps known as the Lying Step. The Rooster delivers force through the elbow because of the broken line in the middle of the trigram. Its strikes are short and similar to the Bear's strikes. Although while the arms are short, the legs strikes are long.
		</p>	
		<p class="text-justify">
			The Rooster system has Dodging strikes similar to the Phoenix only where the Phoenix uses the arms to move the opponent and dodge around; the Rooster leaves the arms and dodges around with its whole body. When the Li trigram is turned on its side it represents the left and right sides of the body moving independently of one another. The Dantian is also moving and fluid and its use comes into play in the dodging of the Rooster. The principle of the Li trigram is that the chest must be kept concaved and pulled back protecting the vital organs from attack.
		</p>	
		<p class="text-justify">
			The eight strikes of the Rooster system are:
			<ol>
				<li>Shǎn (Dodging) this character means to dodge; get out of the way; twist; leave behind.</li>
				<li>Zhǎn (Extending) this character means to extend; open up; spread out; unfold; unfurl.</li>
				<li>Teng (Rising) this character means to rise, hover, move out, gallop, soar, leap.</li>
				<li>Nuo (Shifting) This character means to move, shift to one side.</li>
				<li>Jìn (Entering) This character means to advance; move forward; move ahead; enter; come or go into; get into; receive;</li>
				<li>Ta (Whipping) this character means to flog, whip; rapid.</li>
				<li>Chōng (Rushing) This character means to charge; rush; dash ; clash; collide;</li>
				<li>Zha (Stabbing) this character means to pierce, stab, stick a needle through.</li>
			</ol>
		</p>
</div>	
