<div class="large-12 columns">

	<img src="assets/img/bagua1.jpg" class="textWrapLeft" alt="Durban Bagua Kung Fu">
	<img src="assets/img/bagua.jpg" class="textWrap" alt="Durban Bagua Kung Fu">
	<p class="text-justify">
		At the Durban Traditional Martial Arts Association, twice weekly classes are offered in the Bagua basics of Standing Isometrics, Circle Walking, Forms and Power Training. These basics are of fundamental importance if one wishes to make tangible progress. 
	</p>
	<h5><strong>1. Standing Isometrics</strong></h5>
	<p class="text-justify">
		The standing isometric exercises are designed to strengthen the body by forcing different muscles to dynamically work against each other while holding the body still. This traditional method of training is a fundamental ingredient that is used to grow ones inherent qi, physical strength and flexibility.
	</p>
	<h5><strong>2. Circle Walking</strong></h5>
	<p class="text-justify">
		Bagua Circle Walking is the central and foundational solo exercise of Bagua Zhang Kung Fu. The greater the skill you develop in Circle Walking, the greater your chances of realizing Bagua’s physical, martial and spiritual value . It comprises walking in a circle holding a static posture and then using a simple routine or strike to periodically change direction. It is an important method of building up qi and learning relaxation and rooting.
	</p>
	<h5><strong>3. Forms</strong></h5>
	<p class="text-justify">
		Forms are typically composed of a sequence of 7 strikes that are executed whilst walking the circle. Practising the strikes whilst walking in a circle improves both coordination and rooting. In addition, the practitioner begins to develop the ability to quickly change their direction and line of attack relative to an opponent. Study of the practical fighting applications of these strikes is typically used as a laboratory for understanding Bagua Kung Fu's fighting strategies.
	</p>
	<h5><strong>4. Power Training</strong></h5>
	<p class="text-justify">
		Power training involves the repetition of single strikes in order to develop whole-body power. Of critical importance is the development of a structure which is rooted, fast, powerful and loose. Power must arise from the whole body and not just the arms.
	</p>
	<h5><strong>5. Weapons</strong></h5>
	<p class="text-justify">
		Bagua Zhang also includes a plethora of weapons with the two most common being the dadao (large sabre) and the jian (straight sword). These two weapons are used to grow strength and co-ordination as well as to practise the use of one's intent (yi) to direct around the body.
	</p>
</div>