<div class="large-12 columns">
	<h4>History</h4>
		<p class="text-justify">
			The development of Ba Gua Zhang is most often attributed to Tung Hai Chuan around the latter 17th century. The story is that Tung was wondering around a mountainous area of China, freezing and starving to death when he was rescued and nurtured back to health by a reclusive Taoist hermit who then taught him the secrets of Ba Gua Zhang to preserve the health he had restored. Tung’s skill became so high that eventually he was challenged by the famous Xingyi master, Kuo Yun Shen. Legend has it that they fought over three days, with neither able to attain advantage. They consequently became friends and made a pact that from that day forward all of their students would study both Ba Gua (Pakua) and Xingyi (hsingi) from each teacher’s lineage. 
		</p>
		<p class="text-justify">
			The reality is that nobody actually knows exactly who created Ba Gua. It was only in the Ching dynasty (1644-1912 AD.), that the first hand-written history of this style was composed. This record confirms that Ba Gua has existed for at least two hundred years and maybe longer. From circa (1821-1850 A.D.) to (1881 A.D.), the art of Ba Gua Zhang reached its zenith of popularity. According to the available documents, it seems likely that the popularity of Ba Gua during this period was due to the Ba GuaZhang Master Tung Hai-Chuan. Since Tung’s time, a more accurate and complete history of the art has been kept.
		</p>
		<p class="text-justify">
			There are a few documents available to us which describe that Master Tung Hai-Chuan actually learned his Ba Gua from a Taoist named Tung Meng-Lin in Jiu Hua Mountain, An Hui Province. He taught his art to three disciples: Tung Hai-Chuan, Li Zhen-Qing and Bi Yue-Xia. Among these three disciples, Tung Hai-Chuan has become the most well known and has passed the art on to the largest body of students. Hence, we have more complete historical information on Tung Hai-Chuan than any other practitioner.
		</p>
</div>	
