<div class="large-12 columns">
	<p>
		If you have any enquiries, please contact Paul using any of the details below.
	</p>
	<table cellspacing="5" cellpadding="5">
		<thead>
			<tr>
				<th>EMAIL ADDRESS</th>
				<th width="100">CELL PHONE</th>
				<th>POSITIVE HEALTH STUDIO</th>
				<th>GORDON ROAD STUDIO</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a href="mailto:enquiries@bagua-kungfu-durban.co.za">enquiries@bagua-kungfu-durban.co.za</a></td>
				<td>082 501 7190</td>	
				<td>Positive Health, 5 Claribel Rd, Morningside, Durban, Kwa-zulu Natal</td>		
				<td>58 Gordon Road, Morningside, Durban, Kwa-zulu Natal</td>
			</tr>		
		</tbody>
	</table>
</div>