<div class="large-12 columns">
	<h4>Classes</h4>
		<p class="text-justify">
		All classes are held in Morningside, Durban and cost R400 per month. Drop in classes cost R70. Please see below for classs details.
	</p>
	<p>
		<table>
			<thead>
				<tr>
					<th>NAME</th>
					<th>DESCRIPTION</th>
					<th>DAY</th>
					<th>TIME</th>
					<th>LOCATION</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="class in classes">
					<td>{{class.name}}</td>
					<td>{{class.description}}</td>
					<td>{{class.day}}</td>
					<td>{{class.time}}</td>
					<td>{{class.location.address}}, {{class.location.suburb}}, {{class.location.city}}, {{class.location.province}}</td>
				</tr>
			</tbody>
		</table>
	</p>
</div>	
