<div class="large-12 columns">
	<p class="text-justify">
		All classes are held in Morningside, Durban and cost R450 per month. Drop in classes cost R90. Please see below for class details. If you have any enquiries, please either call on +27 82 501 7190 (Paul) or send an email <a href="mailto:enquiries@bagua-kungfu-durban.co.za">enquiries@bagua-kungfu-durban.co.za</a>
	</p>
	<p>
		<table cellspacing="5" cellpadding="5">
			<thead>
				<tr>
					<th>NAME</th>
					<th>DESCRIPTION</th>
					<th>DAY</th>
					<th>TIME</th>
					<th>LOCATION</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="class in classes">
					<td>{{class.name}}</td>
					<td>{{class.description}}</td>
					<td>{{class.day}}</td>
					<td>{{class.time}}</td>
					<td>{{class.location.address}}, {{class.location.suburb}}, {{class.location.city}}, {{class.location.province}}</td>
				</tr>
			</tbody>
		</table>
	</p>
</div>	
