<div class="large-12 columns">
	<img src="http://placehold.it/1000x400&text=[img]">
	<h4>The Kun Trigram Unicorn System</h4>
		<p class="text-justify">
			The (Qílín) represents both the male and female of the species and since the Kun Trigram embodies Pure Yin (feminine) we only use the character - - which represents the female of the species. The Kun Trigram is really a combination of all the other animals with their techniques refined to the point that power can be manifested in one part of the body or just one segment of a limb.
		</p>	
		<p class="text-justify">
			It uses all the joints of the body for striking and will follow and match the opponent until the right opportunity to reverse the direction and devastate the opponent. It can deliver strikes through many of the different parts of the body. While the Lion system is taught to the young and vibrant for both developing and stoking the Yang Fire, the Unicorn is learned later in life and is the result of the years of refinement and internalization of the other systems. It’s the steel forged in the Yang fire, the Yin Amulet. Its energy is called Reversing the Body.
		</p>
		<p class="text-justify">
			The eight strikes of the Unicorn system are:
			<ol>
				<li>Zhan (Sticking) means to make the opponent stick to you.</li>
				<li>Nian (Adhering) means to stick to the opponent.</li>
				<li>Mián (Soft) This character means to be continuous; soft</li>
				<li>Suí (Following) This character means to follow; to comply with; to allow;</li>
				<li>Kua (Hip) This character means the hip, pelvis, root of the legs.</li>
				<li>Da (Striking) This character means to strike, hit, break, fight, shooting, to tie up.</li>
				<li>Pī (Chopping) this character means to split, chop, or cleave.</li>
				<li>Chá (Stabbing/ Cutting) this character means to cut; like with a piece of broken glass.</li>
			</ol>
		</p>
</div>	
