<div class="large-12 columns">
	<h4>The Dui Trigram Monkey System</h4>
		<p class="text-justify">
			<img src="assets/img/bagua.jpg" class="textWrap">
			The Dui or Lake Trigram is represented by the Monkey (hóu). The energy of the Monkey is called 'Bao' (Enfolding or embracing) and means that the body contracts in on itself to obtain power. Whether through squatting to the ground and yanking the opponent or through double handed strikes concaving inward or expanding outward, the usage of the hands also ties in with the kicking methods. Consequently, the Monkey system is also known as the 'Lian Huan Tui' or 'Interlocking Leg'. Its eight attacking methods are all kicks.
		</p>	
		<p class="text-justify">
			The eight strikes of the Monkey system are:
			<ol>
				<li>Qu (Bending) this character means to bend, flex.</li>
				<li>Chuai (Stomping) this character means to trample, stomp, crush.</li>
				<li>Beng (Splitting) this character means to rupture, split apart, collapse.</li>
				<li>Kua (Hip) This character means the hip, pelvis, root of the legs.</li>
				<li>Pi (Chopping) this character means to split, chop, or cleave.</li>
				<li>Bai (Swinging) This character means to swing, sway like a pendulum</li>
				<li>Jie (Intercepting) this character means to connect, stop, join, intercept.</li>
				<li>Dun (Finishing) this character means to finish, end, stop, and bow.</li>
			</ol>
		</p>
</div>	
