<div class="large-12 columns">
	<img src="http://placehold.it/1000x400&text=[img]">
	<h4>The Qian Trigram Lion System</h4>
		<p class="text-justify">
			The Qian trigram is the image of heaven. It is known as the Lion palm in its martial form. Qian represents great strength and its nature is pure 'yang' and is named after the 3 solid lines of its trigram. When speaking of the body shape it is 'heaven', when speaking of its temperament it is 'Qian'. When looked at as a creature it takes on the appearance of the lion. This creature is the most cruel and violent and is known for its bravery. It can kill and eat the tiger and the leopard. It has the skill of shaking its fur. Martially it has the skill of the 'golden dragon closing its mouth', the posture of the 'lion opens its mouth', and the technique of the 'white ape drawing its sabre'.
		</p>
		<p class="text-justify">
			Internally it is the 'qi' which supports the 10,000 things. Martially the 'Lion palm' is the beginning of the 10,000 techniques of Bagua. This style must extend both arms out with great force. The 'qi' must be full and be throughout from inside to outside and from top to bottom. It uses the 3 linking’s (feet, waist, and hands) in its form and the 3 alignments (tip of hands, tip nose, tip of feet) in its shape, which comes from the 3 solid lines of the Qian trigram. The fists move with and follow the movement of the body, allowing the blood to flow freely. This allows the 'qi li' (strength) to increase many times over.
		</p>
		<p class="text-justify">
			The Qián Gua or Heaven Trigram is represented by the Lion 獅 (shī) and is the pure Yang trigram being the strongest and fiercest of the animals. It is also known as the father of the trigrams. The power or energy of the Qian trigram is Interlocking. This describes the smooth transition of one strike into the next. The first strike, if it fails, has set up the next strike which continues in constant succession until a firm strike is landed. The Lion likes to force through an opponent, without retreat, interlocking helps to accomplish that.
		</p>
		<p class="text-justify">
			The Qian trigram having three solid Yang lines means that strength and solidity must be maintained when practicing the lion system. Since they are all Yang lines, the twelve joints, three sections of the torso, the mind/ body/ heart must be kept solid, unbroken, and connected throughout the techniques and postures in the Lion System. The principle that the Lion contributes to Yin Style Bagua is that the mind (intention, eyes), the hands, and the feet all arrive at the same time when executing techniques.
		</p>
		<p class="text-justify">
			The Lion system is the all Yang trigram, its power is hard and obvious, it has horizontal and vertical strength, and it turns and moves in a circle but attacks with the corners of the square. It focuses on the power of the waist and hence develops the Belt Meriden. The Opening strike is the most important waist strike. The eight strikes of the Lion system are:
			<ol>
				<li>Xiāo (Sweeping) is like a small knife used to skin or peel something, it goes along the surface and doesn't cut directly in like the 'Chopping' strike.</li>
				<li>Chá (Cutting) means to cut; like with a piece of broken glass. This strike contains the basics of point striking and the small circular motions aid in the effectiveness of the strike even if the points are not directly hit.</li>
				<li>Pī (Chopping) means to split, chop, or cleave like an axe, embedding into the object.</li>
				<li>Guà (Hooking) means to hook or hang on a hook.</li>
				<li>Zhèn (Shocking) means to shake or shock, a quick jolt.</li>
				<li>Dǎng (Blocking) means to keep off; ward off; block; get in the way of.</li>
				<li>Qín (Seizing) means to capture; catch; seize.</li>
				<li>Ná (Grasping) means to hold; take; seize; capture; have a firm grasp of.</li>
			</ol>
		</p>
		<p class="text-justify">
		</p>
		<p class="text-justify">
		</p>
		<p class="text-justify">
		</p>
		<p class="text-justify">
		</p>
</div>	
