<div class="large-12 columns">
	<h4>The Zhen Trigram Dragon System</h4>
		<p class="text-justify">
			<img src="assets/img/bagua.jpg" class="textWrap">
			The Zhen or Thunder Trigram is represented by the Dragon (lóng). The solid line on the bottom represents the shoulders which must work in harmony with each other and remain strong during the movements and applications. The solid line also represents the lower back where it connects with the pelvic area and the leg as the power in the dragon system comes from the back foot through the leg to the lower spine and then to the hands. This is a long force which the Dragon is known for.
		</p>
		<p class="text-justify">
			The style or energy of the Dragon is called Lifting and Holding. The Zhen trigram is known as the oldest son and is the bravest and the boldest. It cares little about exposing its vital areas and is known for opening up the hips in what's called a Bai Step. The Dragon system is also the introduction of kicking techniques, because the bai step allows the back leg to move forward to accomplish kicking. The principle of the Zhen trigram is that the toes must always be grasping the ground. The Zhen trigram represents Thunder which is the 'Shocking' force.
		</p>
		<p class="text-justify">
			The eight strikes of the Dragon system are:
			<ol>
				<li>Tuī (Pushing) This character means to push; shove; turn a mill or grindstone; grind; push; forward;</li>
				<li>Tuō (Lifting) This character means to hold in the palm; support with the hand or palm; serving as a support;</li>
				<li>Dài (Carrying) This character means to take; bring; carry;</li>
				<li>Lǐng (Leading) This character means to lead; usher; be in possession of; draw; get;</li>
				<li>Bān (Moving) This character means to take away; move; remove;</li>
				<li>Kòu (Capturing) This character means to detain; taken into custody; arrest;</li>
				<li>Pī (Chopping) This character means to split; chop; cleave; right against (one's face, etc.); stick;</li>
				<li>Jìn (Entering) This character means to advance; move forward; move ahead; enter; come or go into; get into; receive;</li>
			</ol>
		</p>
</div>	
