<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html lang="en" ng-app="baguaApp" ng-controller="appCtrl">
<head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta name="description" content="{{description}}" />
    <meta name="keywords" content="kung fu, gong fu, martial arts, self defence, internal, bagua, bagua zhang, baguazhang, pakua, pakkua chang, pakuachang, xingyi, hsing yi, xing yo, tai ci, tai ji, neijia, nei jia, weapons, sword, sabre, spear, chi gung, qigong" />
    <link rel="stylesheet" href="bower_components/zurb-foundation-npm/css/foundation.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="assets/css/custom.css" />
</head>
<body>
    <div class="row">
        <div class="contain-to-grid">
            <nav class="top-bar" data-topbar role="navigation" data-options="is_hover: false">
                <ul class="title-area">
                    <li class="name">
                        <h1>
					      	<a ui-sref="home" class="active">
						      	<i class="fa fa-star"></i>&nbsp;Bagua Kung Fu Durban&nbsp;<i class="fa fa-star"></i>
					      	</a>
		      			</h1>
                    </li>
                </ul>
                <section class="top-bar-section">
                    <ul class="left">
                        <li><a ui-sref="history">History</a></li>
                        <li><a ui-sref="theory">Theory</a></li>
                        <li class="has-dropdown">
                            <a href="#">Animal Systems</a>
                            <ul class="dropdown">                                
                                <li><a ui-sref="theLion">Qian Gua Lion System</a></li>
                                <li><a ui-sref="theSnake">Kan Gua Snake System</a></li>
                                <li><a ui-sref="theBear">Gun Gua Bear System</a></li>
                                <li><a ui-sref="theDragon">Zhen Gua Dragon System</a></li>
                                <li><a ui-sref="thePhoenix">Xun Gua Phoenix System</a></li>
                                <li><a ui-sref="theRooster">Li Gua Rooster System</a></li>
                                <li><a ui-sref="theMonkey">Dui Gua Monkey System</a></li>
                                <li><a ui-sref="theUnicorn">Kun Gua Unicorn System</a></li>
                            </ul>
                        </li>
                        <li><a ui-sref="curriculum">Curriculum</a></li>
                        <li><a ui-sref="classes">Classes</a></li>
                        <li style="border-right:1px solid #FFFFFF"><a ui-sref="contact">Contact</a></li>
                    </ul>
                    <ul class="right">
                        <li class="has-dropdown">
                            <a href="#"><i class="fa fa-bars"></i></a>
                            <ul class="dropdown">                                
                                <li><a href="#"><i class="fa fa-wordpress"></i>&nbsp;&nbsp;Blog</a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i>&nbsp;&nbsp;Twitter</a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i>&nbsp;&nbsp;Facebook</a></li>
                                <li><a href="#"><i class="fa fa-youtube"></i>&nbsp;&nbsp;Youtube</a></li>
                                <li><a href="http://www.mukti.co.za" target="_blank"><i class="fa fa-moon-o"></i>&nbsp;&nbsp;Mukti Movement</a></li>
                            </ul>
                        </li>
                    </ul>
                </section>
            </nav>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <img ng-repeat="slide in slides" class="slide" ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.image}}">
                <a class="arrow prev" href="#" ng-click="nextSlide()"></a>
                <a class="arrow next" href="#" ng-click="prevSlide()"></a>
                <nav class="nav">
                    <div class="wrapper">
                        <ul class="dots">
                            <li class="dot" ng-repeat="slide in slides">
                                <a href="#" ng-class="{'active':isCurrentSlideIndex($index)}" ng-click="setCurrentSlideIndex($index);">{{slide.description}}</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div ui-view></div>
        </div>
        <div class="row" ng-hide="showContactUs()" id="contact-us">
            <contactbar></contactbar>
        </div>
        <footer class="row">
            <div class="large-12 columns">
                <hr/>
                <div class="row">
                    <div class="large-4 columns">
                        <p>&copy; Copyright Bagua Kung Fu Durban - 2015</p>
                    </div>
                    <div class="large-8 columns">
                        <ul class="inline-list right">
                            <li><a href="#"><i class="fa fa-wordpress"></i>&nbsp;&nbsp;Blog</a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i>&nbsp;&nbsp;Twitter</a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i>&nbsp;&nbsp;Facebook</a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i>&nbsp;&nbsp;Youtube</a></li>
                            <li><a href="http://www.mukti.co.za" target="_blank"><i class="fa fa-moon-o"></i>&nbsp;&nbsp;Mukti Movement</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-touch/angular-touch.min.js"></script>
    <script src="bower_components/angular-foundation/src/mm-foundation-tpls-0.6.0.js"></script>
    <script src="bower_components/ui-router/angular-ui-router.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/zurb-foundation-npm/js/modernizr.js"></script>
    <script src="bower_components/zurb-foundation-npm/js/foundation/foundation.js"></script>
    <script src="bower_components/zurb-foundation-npm/js/foundation/foundation.topbar.js"></script>
    <script src="bower_components/TweenJS/lib/tweenjs-0.6.0.min.js"></script>
    <script src="app.js" type="text/javascript"></script>
    <script>
    $(document).foundation();
    </script>
</body>

</html>
