<div class="large-12 columns">
	<img src="http://placehold.it/1000x200&text=[img]">
	<h4>Home</h4>
		<p class="text-justify">
		Ba Gua Zhang Kung Fu is a powerful martial art which occupies the middle ground between the apparent softness of Tai Chi Chuan and the seemingly hard nature of Xing Yi Chuan. The martial art of Ba Gua Zhang Kung Fu posseses a sinuous and aerobic quality that is imbued with continuous changes and rapidly spiralling complex motions. Being thoroughly grounded in the philosophy of the I Ching, this unique Kung Fu teaches one to flow with change and find a place of balance and stillness whenever transformation occurs.
	</p>
	<p>
		This martial art creates a tremendously strong yet supple body that possesses an infinite variety of changes in movement, energy and angle. By the awareness generated through the practice of this unique Kung Fu, one learns to comprehend the universal constant of change.
	</p>
	<p>
		<table>
			<thead>
				<tr>
					<th>WHAT DOES THE MARTIAL ART ENTAIL?</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Standing and moving Qigong exercises.</td>
					<td>An improved sense of balance and enhanced peripheral awareness.</td>
				</tr>
				<tr>
					<td>Circle Walking moving meditation.</td>
					<td>The ability to quickly change both direction and energy.</td>
				</tr>
				<tr>
					<td>Animal forms and striking patterns.</td>
					<td>Improved self defence and an understanding of how angles, fulcrums and energy changes affect movement and combat.</td>
				</tr>
				<tr>
					<td>Bagua weapons training</td>
					<td>The ability to go with the flow and adapt to changing conditions and environments</td>
				</tr>
			</tbody>
		</table>
	</p>
</div>	
