<div class="large-12 columns">
	<h4>Home</h4>
	<p class="text-justify">
		Ba Gua Zhang Kung Fu is the art of striking while moving. As part of the Neijia, it occupies the middle ground between the softness of Tai Chi Chuan and the seemingly hard nature of Xing Yi Chuan. Being thoroughly grounded in the philosophy of the I Ching, this unique Kung Fu teaches one to flow with change and find a place of balance and stillness whenever transformation occurs. Employing intricate kicking, throwing, and grasping techniques which are set up by strikes executed as the practitioner moves around the opponent in a circular fashion, the practice of Bagua Zhang enables one to develop a moving root. At it's higher levels, Bagua leads one to let go of restrictive movement, sensation and thought and so merge with that which does not change - the real nature of your mind.
	</p>
	<p class="text-justify">
		The aim of the Durban Ba Gua Zhang association is to provide systematic instruction to help motivated individuals to attain an understanding of their movement potential through the practice of Ba Gua Zhang Kung Fu. Twice weekly classes are offered in the Bagua basics of standing, striking, turning and changing. In addition to this, extensive weapon training is on offer. Private lessons are also available on request
	</p>
</div>	
