<div class="large-12 columns">
	<img src="http://placehold.it/1000x400&text=[img]">
	<h4>The Kan Trigram Snake System</h4>
		<p class="text-justify">
			The Kan Guà is represented by the snake 蛇 (shé). Its fighting style emulate a river whose energy flows around whatever obstructs its path. This energy is called moving with the force. It is the middle son and doesn't like to mess with the striking and typical methods of the other systems. It gets in close, coiling, striking and grasping points. The Kan trigram has two broken or Yin lines, one on the top and bottom, which is representative of the wrist and shoulder joints. This becomes clearly evident in the coiling and snake like movements of the Snake System. Reacting to what the opponent wants to do and moving with them is the energy of the snake. The principle of the Kan trigram is that the solid line in the middle means that the Dantian must always be kept solid and full.
		</p>
		<p class="text-justify">
			The eight strikes of the Snake system are:
			<ol>
				<li>Jiān (Shoulder) This character means to take on; to undertake; to bear.</li>
				<li>Zhǒu (Elbow)</li>
				<li>Xī (Knee)</li>
				<li>Kuà (Hip)</li>
				<li>Tàn (Probing) This character means to try to find out; probe; explore; sound; scout; spy;</li>
				<li>Wò (Holding) this character means to hold; grasp.</li>
				<li>Diāo (Entrapping) This character means tricky; artful; sly;</li>
				<li>Ná (Grasping) This character means to hold; take; seize; capture; have a firm grasp of; be able to do; in a difficult position.</li>
			</ol>
		</p>
</div>	
