<div class="large-12 columns">
		<p class="text-justify">
			<img src="assets/img/bear.jpg" class="textWrapLeft" alt="The Bear System">
			<img src="assets/img/bagua.jpg" class="textWrap" alt="Durban Bagua Kung Fu">
			The Gen or Mountain Trigram is represented by the Bear (xióng), the largest and heaviest of the animals. It uses the illusion of being slow and stupid to deceive and draw the opponent in. The two broken lines on the bottom mean the shoulders and elbows are free and moving while the wrist is kept solid and firm. The bear is known for turning its back into the opponent which seems like a dangerous position, but it will then snatch its victory when you think it's been defeated. The Gen trigram's principle is that the neck is always held up while the chin is tucked and the back is kept rounded.
		</p>
		<p class="text-justify">
			The eight strikes of the Snake system are:
			<ol>
				<li>Chōng (Rushing) This character means to charge; rush; dash ; clash; collide;</li>
				<li>Chuān (Penetrating) This character means to pierce through; pass through;</li>
				<li>Dài (Carrying) This character means to take; bring; carry;</li>
				<li>Zhèn (Shocking) this character means to shake.</li>
				<li>Chè (Withdrawing) This character means remove; take away; withdraw; evacuate.</li>
				<li>Kào (Leaning) This character means to lean against; lean on; keep to; get near; come up to; nearby;</li>
				<li>Mián (Soft) This character means to be continuous; soft</li>
				<li>Suí (Following) This character means to follow; to comply with; to allow;</li>
			</ol>
		</p>
</div>	
