<div class="large-12 columns">
	<h4>The Xun Trigram Phoenix System</h4>
		<p class="text-justify">
			<img src="assets/img/bagua.jpg" class="textWrap">
			The Xun or Wind Trigram is represented by the Phoenix (fèng), it is the king of all birds and encompasses all of the wing-like strikes that birds use while attacking and defending. The broken line at the bottom represents the shoulder and the hip. The arm as opposed to the lion system will generally move independently of the body until the point of impact, when the root is again found. The principle of the Xun trigram is that the hips must be rolled under and the Huiyun point must be raised to counteract the broken line at the bottom.
		</p>		
		<p class="text-justify">
			The eight strikes of the Phoenix system are:
			<ol>
				<li>Shǎn (Dodging) this character means to dodge; get out of the way; twist; leave behind.</li>
				<li>Zhǎn (Extending) this character means to extend; open up; spread out; unfold; unfurl.</li>
				<li>Pī (Chopping) this character means to split, chop, or cleave.</li>
				<li>Zhèn (Shocking) this character means to shake.</li>
				<li>Huà (Transforming) this character means to change; turn; transform; convert; dissolve.</li>
				<li>Xiè (Removing) this character means to unload; discharge; lay down; remove; strip; get rid of; shrink.</li>
				<li>Quán (Curling In) This character means to curl up; huddle up.</li>
				<li>Chá (Stabbing/ Cutting) this character means to cut; like with a piece of broken glass.</li>
			</ol>
		</p>
</div>	
